label{
  font-size: .7rem;
  color:white;
  font-size: 15px;
}
input.form-control, input.form-control:focus{
  background: #F0F0FF;
}
h1{
  color:rgb(243, 240, 240);
  text-shadow: 3px 8px 7px black;
}
.error {
  position:absolute;
  color:red;
  font-size: .6rem
}
.container2{
  background-image: url(./assets/backimg.png);
  position: relative;
  height: 700px;
  margin: 20px 
}